@import "./input.scss";
@import "./home.scss";
@import "./button.scss";

body {
  margin: 0;
  overflow: hidden auto;
  height: 100vh;
  width: 100vw;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

@media only screen and (min-width: 600px) {
  .app {
    flex-direction: row;
    gap: 48px;
  }
}
