@import "./input.scss";
@import "./home.scss";
@import "./button.scss";

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  height: 80px;
}
